[Unit]
Description=PhotoBooth
After=graphical.target
Wants=graphical.target

[Service]
Type=simple
User=YOUR_USER
Group=YOUR_USER

WorkingDirectory=/home/YOUR_USER/PhotoBooth

Environment=WAYLAND_DISPLAY=wayland-0
Environment=XDG_RUNTIME_DIR=/run/user/YOUR_UID
Environment=PYTHONUNBUFFERED=1
ExecStart=/usr/bin/python3 /home/YOUR_USER/PhotoBooth/main.py

Restart=on-failure
RestartSec=5

StandardOutput=journal
StandardError=journal

[Install]
WantedBy=graphical.target
